* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  background-color: rgb(49, 102, 102);
  color: white;
  font-weight: bold;
  font-size: 26px;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: rgb(243, 255, 255);
  gap: 200px;
  padding: 140px 40px 40px 40px;
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/191111144441-03-highest-mountains-world-photos-restricted.jpg?q=w_2500,h_1406,x_0,y_0,c_fill");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-container {
  position: relative;
  left: 100px;
  width: 800px;
  height: 800px;
  padding: 40px;
  background-color: rgb(53, 59, 55);
}

.card {
  width: 200px;
  height: 200px;
  padding: 20px;
  font-size: 26px;
  color: white;
}

#card-approach {
  position: absolute;
  top: -35px;
  left: -35px;
  background-color: rgb(119, 161, 204);
  border: 4px solid rgb(180, 194, 180);
}

#card-team {
  background-color: rgb(174, 176, 111);
  border: 4px solid rgb(191, 194, 180);
}

#card-focus {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgb(176, 133, 111);
  border: 4px solid rgb(255, 216, 208);
}

.top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  background-color: crimson;
  cursor: pointer;
}

/* :hover - псевдокласс, срабаьывает при наведении курсором мыши над элементом */
.top:hover {
  background-color: brown;
}
