* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: rgb(26, 35, 53);
}

.get-user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 600px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 40px;
  gap: 20px;
  background-color: white;
}

.user-container {
  display: flex;
  flex: 1;
}

.user-success {
  display: none;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  font-size: 24px;
  font-weight: bold;
}

.user-error {
  display: none;
  color: brown;
  font-size: 24px;
  font-weight: bold;
}

.get-user-button {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  outline: none;
  border: none;
  background-color: rgb(44, 44, 173);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.get-user-button:hover {
  background-color: rgb(42, 42, 193);
}

.get-user-button:disabled {
  background-color: rgb(181, 166, 166);
  cursor: not-allowed;
}

.fact-container {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.stop-button {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  outline: none;
  border: none;
  background-color: rgb(209, 59, 59);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
}

.user-info {
  display: flex;
  gap: 5px;
  width: 100%;
}

.user-label {
  font-size: 24px;
  font-weight: bold;
}

.user-data {
  font-size: 24px;
}
